header {
    background-color: gainsboro;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

main {
    background-color: lightgrey;
    padding: 10px;
}

main section {
    padding: 7px;
    margin-top: 10px;
}

footer {
    background-color: gainsboro;
    padding: 3px;
}

.exercise {
    color: white;
    background-color: color(srgb 0.3 0.3 0.3);
    border-radius: 10px;
    margin-right: 10px;
}