header {
    background-color: gainsboro;
    padding: 5px;
}

main {
    background-color: lightgrey;
}

footer {
    background-color: gainsboro;
    padding: 3px;
}

section {
    padding: 7px;
}

.last-workout {
    color: white;
    background-color: color(srgb 0.3 0.3 0.3);
    border-radius: 10px;
}

.exercise {
    color: #000;
    background-color: whitesmoke;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
}

.favourite-exercise {
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
}

.tonnage {
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 7px;
}

.main-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }

    .favourite-exercise {
        margin-top: 10px;
        margin-left: 0px;
    }

    .tonnage {
        margin-left: 0px;
    }
}